<header class="bg-card-light dark:bg-card-dark shadow-md sticky top-0 z-50">
    <div class="container mx-auto px-6 py-4 flex justify-between items-center">
      <div class="flex items-center">
        <span class="material-icons text-primary text-3xl mr-2">pets</span>
        <span class="text-xl font-bold text-text-light dark:text-text-dark">Hotel Pet</span>
      </div>
      <div class="flex items-center space-x-4">
        <a (click)="goToLogin()" class="text-sm text-gray-600 dark:text-gray-300 hover:text-primary cursor-pointer">Acceso Clientes</a>
        <a (click)="goToReservation()" class="bg-primary text-white font-bold py-2 px-4 rounded-lg shadow-lg hover:bg-amber-600 transition duration-300 cursor-pointer">Reservar Ahora</a>
      </div>
    </div>
  </header>